body {
	margin: 0;
}

#root {
	position: relative;
	box-sizing: border-box;
	margin: 0;

	background-color: var(--grey-bright);
	overflow-y: auto;
	height: 100vh;

	display: flex;
	flex-direction: column;

	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
	scroll-padding-top: 85.5px;
}

main {
	display: contents;
}
